/*
templete-name: meiplay;
The owner of the templete: ahmed samy;
Template-version: 1.0.0;
Date created: 14/2/2020
*/
:root
{
	--cwh: #fff;
	--cbk: #000;
	--crd: #E62B4A;
	--crdo: #E62B4A90;
	--cbody: #333;
	--coffwh: #f4f4f4;
	--cwrblack: #999;
	--cwrwhite: #818181
}